name: FireBase

on:
  # allow to run manually
  workflow_dispatch:
  schedule:
    # run every day at 04:00 UTC+0
    - cron:  '0 4 * * *'

jobs:
  assemble_ui_test_artifacts:
    name: Build artifacts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build APK for UI test after Unit tests
        run: |
          ./gradlew test
          ./gradlew assembleDebug
          ./gradlew assembleDebugAndroidTest

      - name: Upload app-debug APK
        uses: actions/upload-artifact@v2
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Upload app-debug-androidTest APK
        uses: actions/upload-artifact@v2
        with:
          name: app-debug-androidTest
          path: app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk

  run_ui_tests_on_firebase:
    runs-on: ubuntu-latest
    needs: assemble_ui_test_artifacts
    steps:
      - uses: actions/checkout@v2
      - name: Download app-debug APK
        uses: actions/download-artifact@v1
        with:
          name: app-debug

      - name: Download app-debug-androidTest APK
        uses: actions/download-artifact@v1
        with:
          name: app-debug-androidTest

      - name: Firebase auth with gcloud
        uses: google-github-actions/setup-gcloud@master
        with:
          version: '290.0.1'
          service_account_key: ${{ secrets.FIREBASE_KEY }}
          project_id: ${{ secrets.PROJECT_ID }}

      - name: Run Instrumentation Tests in Firebase Test Lab
        # first command print all available devices
        # current device:
        # | MODEL_ID |  MAKE  | MODEL_NAME |   FORM   |  RESOLUTION | OS_VERSION_IDS |
        # | blueline | Google | Pixel 3    | PHYSICAL | 2160 x 1080 | 28             |
        run: |
          gcloud firebase test android models list
          gcloud firebase test android run --type instrumentation --use-orchestrator \
          --app app-debug/app-debug.apk --test app-debug-androidTest/app-debug-androidTest.apk \
          --device model=blueline,version=28,locale=en,orientation=portrait --num-flaky-test-attempts 3